@import '~bootstrap/scss/bootstrap';


.nav-active {
    background-color: paleturquoise;
}


main {
    background-image: url('../img/fondo-pag-speciali.jpg');
    min-height: 50vh;
}


footer {
    background-image: url('../img/footer-montagne-bottom.jpg');
    background-position: bottom;
    background-repeat: no-repeat;

}
